/* You can add global styles to this file, and also import other style files */
.big {
  background-image: url("https://st2.depositphotos.com/2212272/5256/v/950/depositphotos_52560473-stock-illustration-medical-theme.jpg");
  background-size: cover;
  text-align: center;
  padding: 50px;
}

.container-fluid{
  background: linear-gradient(333deg, rgba(171,227,227,1) 0%, rgba(232,255,252,1) 17%);
  background-size: contain;
  height: 100%;
}

.box {
  text-align: center;
  border: 1px solid #ccc;
  padding: 80px;
  color: aliceblue;
  width: 40%;
  margin-left: 590px;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: rgba(2, 0, 37, 0.7);
}

.navbar  {
  background-color: aqua;
  position: fixed;
  width: 100%;
}

.navbar a {
  color: aqua;
}

.navbar a:active {
  color: rgb(7, 255, 255);
}

.navbar a:hover {
  color: rgb(6, 255, 6);
}


/* Responsive Styles */
  @media screen and (max-width: 767px) {

    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
