.blog {
  background-image: url("https://images.unsplash.com/photo-1472916468142-2547cf63fb23?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80");
  background-size: cover;
  text-align: center;
  padding: 50px;
}

.box {
  text-align: center;
  border: 1px solid #ccc;
  padding: 80px;
  color: aliceblue;
  width: 70%;
  margin-left: 170px;
  margin-top: 150px;
  margin-bottom: 150px;
}


/* Responsive Styles */
  @media screen and (max-width: 767px) {

    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }

  h1 {
      color: red;
  }