
<div class="big">
    <div class="box">
        <h1> HEALTH TRACKER</h1>
        <h4> An Inventory manager you can Trust </h4>
    </div>
    </div>
    <div class="container">
            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <img src="https://www.freeiconspng.com/uploads/ambulance-car-icon-5.png">
                        <h3>Medicine</h3>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                            <a href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <img src="https://icons-for-free.com/iconfiles/png/512/drugs+medication+medicine+pharmacy+syrup+treatment+icon-1320191208513452096.png">
                        <h3>Pharmacy</h3>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                            <a href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <img src="https://lh3.googleusercontent.com/proxy/UtKbgkAN8fRgZxnMz5sCDJYLRYFUaCDzYg4VWoEcvEZ7OXkr0UG741Q-jwolQRKQWoMhHlzyxtyNp-wj0VhrF4NuHlibrccPS1QUgY1AY0rc_7k1Ohsd">
                        <h3>Laboratory</h3>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                            <a href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <!--  -->

        <div class="card info">
        <h1>Our mission is to improve the health of</h1>
        <h1> our communities by providing a secure</h1>
        <h1> Inventory Management System.</h1>
        </div>

<div class="clearfix">
  <div class="boxx" style="background-color:#bbb">
    <img src="https://www.fishbowlinventory.com/sites/all/themes/fishbowl/assets/images/hp-v2/hp-honeycomb.png" style="width:500px;height:250px;">
  </div>
  <div class="boxx" style="background-color:#ccc">
    <h2>Streamline Healthcare Workflows with Health Tracker.</h2>
    <p>Medical equipment inventory management can be a huge challenge.</p>
    <p>You have to know where things are, who’s accountable for them,</p>
    <p>You can monitor and track all medical equipment, whether it’s PPE, surgical tools, or bulky fixed assets.</p>
  </div>
</div>

<div class="contact">
<h3>Contact Us</h3>

<div class="container">
  <form action="">
    <label for="fname">First Name</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname">Last Name</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <label for="subject">Message</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <input type="submit" value="Submit">
  </form>
</div>
</div>
