<div class="big">
    <div class="box">
        <h1> HEALTH TRACKER</h1>
        <h4> An Inventory manager you can Trust </h4>
    </div>
    </div>
    <div class="container">
            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <img src="https://www.freeiconspng.com/uploads/ambulance-car-icon-5.png">
                        <h3>Medicine</h3>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                            <a href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <img src="https://icons-for-free.com/iconfiles/png/512/drugs+medication+medicine+pharmacy+syrup+treatment+icon-1320191208513452096.png">
                        <h3>Pharmacy</h3>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                            <a href="#">Read More</a>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="face face1">
                    <div class="content">
                        <img src="https://www.freepnglogos.com/uploads/microscope-png/microscope-icon-noto-emoji-objects-iconset-google-26.png">
                        <h3>Laboratory</h3>
                    </div>
                </div>
                <div class="face face2">
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas cum cumque minus iste veritatis provident at.</p>
                            <a href="#">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <!--  -->

        <div class="card info">
        <h1>Our mission is to improve the health of</h1>
        <h1> our communities by providing a secure</h1>
        <h1> Inventory Management System.</h1>
        </div>

<div class="clearfix">
  <div class="boxx" style="background-color:rgb(0, 189, 231)">
    <img src="https://www.fishbowlinventory.com/sites/all/themes/fishbowl/assets/images/hp-v2/hp-honeycomb.png" style="width:500px;height:250px;">
  </div>
  <div class="boxx" style="background-color:rgb(0, 187, 168)">
    <h2>Streamline Healthcare Workflows with Health Tracker.</h2>
    <p>Medical equipment inventory management can be a huge challenge.</p>
    <p>You have to know where things are, who’s accountable for them,</p>
    <p>You can monitor and track all medical equipment, whether it’s PPE, surgical tools, or bulky fixed assets.</p>
  </div>
</div>

<div class="contact">


<div class="footer">
  <div class="footer-content">
    <div class="footer-section about">
      <h1 class="logo-text"> <span>HealthTracker</span>Inspires </h1>
      <p>Medical equipment inventory management can be a huge challenge.

        You have to know where things are, who’s accountable for them,

        You can monitor and track all medical equipment,
        whether it’s PPE, surgical tools, or bulky fixed assets.</p>
        <div class="contact">
          <span> <i class="fas fa-phone-square"></i> &nbsp; +254 701 470 992 </span>
          <span> <i class="fas fa-envelope"></i> &nbsp; info.healthtracker@gmail.com </span>
        </div>
        <div class="socials">
          <a href=""> <img src="https://iconbug.com/data/0b/256/e3ff37da4c3f233954632aafd7b0456a.png" width="50" height="50" alt=""> </a>
          <a href=""> <img src="https://iconbug.com/data/0b/256/e3ff37da4c3f233954632aafd7b0456a.png" width="50" height="50" alt=""> </a>
          <a href=""> <img src="https://iconbug.com/data/0b/256/e3ff37da4c3f233954632aafd7b0456a.png" width="50" height="50" alt=""> </a>
          <a href=""> <img src="https://iconbug.com/data/0b/256/e3ff37da4c3f233954632aafd7b0456a.png" width="50" height="50" alt=""></a>
        </div>
    </div>
    <div class="footer-section links">
      <h2>Quick links</h2>
      <br>
      <ul>
         <a href=""><li>Events</li></a>
         <a href=""><li>Team</li></a>
         <a href=""><li>Gallery</li></a>
         <a href=""><li>Mentors</li></a>
      </ul>
    </div>
    <div class="footer-section contact-form">
      <h2>Contact us</h2>
      <br>
      <form action="home" method="post">
      <div class="form-group">
        <input type="email" name="email" class="form-control contact-input" placeholder="Your email address...">
        <textarea type="message" class="form-control contact-input" placeholder="Your message..."></textarea>
        <br>
        <button type="submit" class="btn btn-info contact-btn">
          <i class="fas fa-envelope"></i>
          Send
        </button>
        </div>
      </form>
    </div>
  </div>

  <div class="footer-bottom">
     &copy; codingpoets.com | Designed by Odera
  </div>
</div>
