/* *{

  background: linear-gradient(333deg, rgba(171,227,227,1) 0%, rgba(232,255,252,1) 17%);
  height: 100%;

} */
#register{

  padding-top: 12%;
  padding-bottom: 15%;
}
/* .form, .card-header, h3, label, .form-group, .card-body, input{
  background: #fff;
}

button{
  background-color: #29a9c1;

} */
